In [15]:
import pandas as pd

In [16]:
tsla = pd.read_csv('./inputdata_1045/TSLA.csv')
swvl = pd.read_csv('./inputdata_1045/SWVL.csv')
meta = pd.read_csv('./inputdata_1045/META.csv')
google = pd.read_csv('./inputdata_1045/GOOG.csv')
apple = pd.read_csv('./inputdata_1045/AAPL.csv')

In [17]:
tsla['Quote'] = "TSLA"

In [18]:
swvl['Quote'] = "SWVL"
meta['Quote'] = "META"
google['Quote'] = "GOOG"
apple['Quote'] = "AAPL"

In [19]:
df = pd.concat([tsla, swvl,meta,google, apple])

In [20]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Quote
0,2023-01-26,159.970001,161.419998,154.759995,160.270004,160.270004,234815100,TSLA
1,2023-01-27,162.429993,180.679993,161.169998,177.899994,177.899994,306590600,TSLA
2,2023-01-30,178.050003,179.770004,166.500000,166.660004,166.660004,230878800,TSLA
3,2023-01-31,164.570007,174.300003,162.779999,173.220001,173.220001,196813500,TSLA
4,2023-02-01,173.889999,183.809998,169.929993,181.410004,181.410004,213806300,TSLA
...,...,...,...,...,...,...,...,...
247,2024-01-22,192.300003,195.330002,192.259995,193.889999,193.889999,60133900,AAPL
248,2024-01-23,195.020004,195.750000,193.830002,195.179993,195.179993,42355600,AAPL
249,2024-01-24,195.419998,196.380005,194.339996,194.500000,194.500000,53631300,AAPL
250,2024-01-25,195.220001,196.270004,193.110001,194.169998,194.169998,54822100,AAPL
251,2024-01-26,194.270004,194.759995,191.940002,192.419998,192.419998,44553400,AAPL

In [21]:
df['Quote'].unique()

array(['TSLA', 'SWVL', 'META', 'GOOG', 'AAPL'], dtype=object)

In [27]:
df.columns

Index(['Quote', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [24]:
df = df[['Quote','Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1260 entries, 0 to 251
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Quote      1260 non-null   object
 1   Date       1260 non-null   object
 2   Open       1260 non-null   float64
 3   High       1260 non-null   float64
 4   Low        1260 non-null   float64
 5   Close      1260 non-null   float64
 6   Adj Close  1260 non-null   float64
 7   Volume     1260 non-null   int64
dtypes: float64(5), int64(1), object(2)
memory usage: 88.6+ KB

In [26]:
df.to_csv('./inputdata_1045/stock_1045.csv', index=False)